[submodule "3rdparty/Pangolin"]
	path = 3rdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
